body {
  background-color: beige;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 1rem 2rem;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  padding: 10px;
  box-shadow: 0 0 4px 2px;
  background-color: white;
  transform-style: preserve-3d;
  transition: 200ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 4px 2px;
}

.card.flip {
  --rotate-y: 180deg;
}


.card .front {
  left: 0;
}

.card .back {
  transform: rotateY(180deg)
}